# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml
logs:
  general:
    level: "INFO" # DEBUG if necessary
ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`mon.rudenspavasaris.id.lv`)
    entryPoints:
      - websecure
    tls:
      certResolver: letsencrypt
providers:
  kubernetesGateway:
    enabled: true
gateway:
  listeners:
    web:
      namespacePolicy:
        from: All

hostNetwork: true
ports:
  traefik:
    port: 8081
    exposedPort: 8081
  web:
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
  websecure:
    port: 8443

service:
  externalIPs: []

certificatesResolvers:
  letsencrypt:
    acme:
      email: "rihards.teteris@outlook.com"
      storage: /acme/acme.json
      tlsChallenge: true

persistence:
  enabled: true
  path: /acme
  ### Only when using local storage
  # existingClaim: "traefik-acme-pvc"
  # storageClass: "local-storage"

podSecurityContext: # When not using local storage
  fsGroup: 65532 # https://github.com/traefik/traefik-helm-chart/issues/396#issuecomment-3287251840
