#### Didn't work
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  syncPolicy:
    automated:
      enabled: true
  project: default
  sources:
    - chart: traefik
      repoURL: https://traefik.github.io/charts
      targetRevision: v37.1.2
      helm:
        valueFiles:
          - /home/rihards/Code/cloud_project/cloud_project_kubernetes/Base/Traefik/helm-values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: default
#### Didn't work
