<html>
<!-- I guess latest version like that: -->
<script src="https://unpkg.com/@elastic/apm-rum/dist/bundles/elastic-apm-rum.umd.min.js" crossorigin></script>
<!-- Specific version like that: -->
<!-- <script src="https://unpkg.com/browse/@elastic/apm-rum@5.9.1/dist/bundles/elastic-apm-rum.umd.js" crossorigin></script> -->
<script>
  elasticApm.init({
    serviceName: 'rum-test',
    serverUrl: 'https://apm.rudenspavasaris.id.lv',
  })
</script>
<body>
  Superb test for APM RUM lol
</body>
</html>
